Package: pdf-quench
Version: 1.0.5
Architecture: all
Maintainer: Linuxer Wang <linuxerwang@gmail.com>
Section: office
Priority: optional
Depend: python-pygoocanvas, python-poppler, python-pypdf
Description: A visual tool for cropping pdf files.
Installed-Size: 44
